<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 
<suite name="ActiTimeTests" verbose="1" >	


	<listeners>
	    <listener class-name="com.actitime.base.BaseClass" />   
	  </listeners> 
	 
	  <test name="LoginSmokeSuite"   >	
	  
	    <classes>
	      <class name="com.actitime.tests.Login" />	      
	   </classes>
	 </test>
	 
</suite>
